.skill-tec {
    display: flex;
    font-family: 'Press Start 2P', monospace;
    font-size: 25px;
    color: #FFF;
    align-items: center;
}

.skill-tec .icon {
    margin-right: 25px;
    width: 90px;
}

.skill-tec .title {
    margin-bottom: 15px;
}

.skill-tec .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}